body {
  min-height:100vh;
  -webkit-font-smoothing:antialiased;
}

.container {
  display:block;
  width:100%;
  max-width:96vw;
  margin:auto;
  padding-bottom:10vh;

  .contents {
    display:grid;
    grid-row-gap:1rem;
    // grid-template-columns: repeat(3, auto);
    grid-template-columns:repeat(auto-fill, 480px);
    grid-column-gap:1rem;
    justify-content:center;
  }

  .section {
    position:relative;
  }

  h1 {
    margin-top:.5em;

    font-size:4em;

    color:var(--bs-primary);
  }

  h2 {
    font-size:1.25em;

    color:var(--bs-pink);
  }

  h3.text-success {
    margin-top:1em;
    margin-bottom:2px;

    font-size:1.5em;
    line-height:1.2;

    user-select:all;
  }

  code.code {
    font-size:1.2em;
    font-weight:600;
    line-height:2;

    // &:first-of-type {
    // padding-left:1em;
    // }

    &.option {
      color:gray;
    }
  }
}

// on Bootstrap

.btn {
  border:3px solid #fff;
}

/* Local Mock Design */

.bx {
  min-height:180px;
  padding:12px;

  background:var(--bs-warning);

  >.mod.btn {
    display:block;
    min-width:4em;
    margin:4px;
    padding:4px 12px;

    font-size:1.25em;
  }
}

// Clip
.copy-value {
  position:relative;
  display:inline-flex;
  justify-content:center;
  width:100%;
  padding:4px 1em;

  font-size:1.6em;

  color:var(--bs-primary);
  border:3px solid var(--bs-primary);
  border-radius:3em;
  cursor:pointer;
}


/* Tooltip */

.tooltips::after {
  position:absolute;
  bottom:-.8rem;
  left:50%;
  display:inline-block;
  padding:4px 10px 6px;

  content:"Copied!";
  transform:translate(-50%, 0);
  animation:fade-tooltip .5s 1s 1 forwards;

  font-size:.75rem;

  color:#fff;
  border-radius:.4rem;
  background:#555;
}

/* Animation */

@keyframes fade-tooltip {
  to {
    opacity:0;
  }
}
