include mixin/_section.pug
include mixin/_card.pug
include mixin/_buttons.pug
//- include mixin/_title.pug

doctype html
head
  meta(charset='UTF-8')
  meta(name='viewport' content='width=device-width, initial-scale=1.0')
  meta(http-equiv='X-UA-Compatible' content='ie=edge')
  title CodePen - FlexBox Mixin Template
  link(rel='stylesheet' href='https://ttbootswatch.com/5/minty/bootstrap.min.css')
  link(rel='stylesheet' href='dist/style.css')
// partial:index.partial.html
.container
  //- + greet
  + card
  //- + title("xxx")
  + section(class="bx box1")("vvv")
  + section(class="bx box2")

  hr

  h1 FlexBox SandBox
  h2 @include flex(justfy-content, align-item, column, wrap);
  .contents
    //- section.section
    //-   h3.text-info @include flex()
    //-   // <code>display: flex;</code>
    //-   code xxx
    //-   code display xxx
    //-   .bx.box
    //-     + buttons
    section.section
      h3.text-info @include flex(center)
      code display: flex;
      code display: flex;
      .bx.box2
        + buttons
    section.section
      h3.text-info @include flex()
      code display: flex;
      code display: flex;
      .bx.box3
        + buttons
    section.section
      h3.text-info @include flex()
      code display: flex;
      .bx.box
        + buttons
    section.section
      h3.text-info @include flex()
      code display: flex;
      .bx.box
        + buttons
    section.section
      h3.text-info @include flex()
      code display: flex;
      .bx.box
        + buttons
    section.section
      h3.text-info @include flex()
      code display: flex;
      .bx.box
        + buttons

  // partial
  script(src='https://bootswatch.com/_vendor/jquery/dist/jquery.min.js')
  script(src='https://bootswatch.com/_vendor/bootstrap/dist/js/bootstrap.bundle.min.js')
  script(src='dist/script.js')