include mixin/_section.pug
include mixin/_section-lot.pug
//- include mixin/_card.pug
//- include mixin/_buttons.pug

doctype html
head
  meta(charset='UTF-8')
  meta(name='viewport' content='width=device-width, initial-scale=1.0')
  meta(http-equiv='X-UA-Compatible' content='ie=edge')
  link(rel="icon" type="image/png" href="./favicon.ico")
  title FlexBox Mixin
  link(rel='stylesheet' href='https://bootswatch.com/5/minty/bootstrap.min.css')
  link(rel='stylesheet' href='dist/style.css')

.container
  header.header
    h1 FlexBox Mixins
    h2 @include flex =
      |  display: flex; +
      |  (justfy-content, align-item, column, wrap);
    p You don't have to fill everything, you can exclude elements by inserting null

  .contents
    + section(" ")(class="box1")
    + section("center")(class="box2")
    + section("end")(class="box3")
    + section("null, start")(class="box4")
    + section("null, center")(class="box5")
    + section("null, end")(class="box6")
    + section("center, start")(class="box7")
    + section("center, center")(class="box8")
    + section("center, end")(class="box9")
    + section("end, start")(class="box10")
    + section("end, center")(class="box11")
    + section("end, end")(class="box12")
    + section("between, center")(class="box13")
    + section("around, center")(class="box14")
    + section("evenly, center")(class="box15")
    + section("center, baseline")(class="box16")
    + section("center, stretch")(class="box17")
    //-
    + section("null, null, column")(class="box18")
    + section("null, start, column")(class="box19")
    + section("null, center, column")(class="box20")
    + section("null, end, column")(class="box21")
    + section("null, null, reverse")(class="box22")
    //-
    //-
    section.section
      h3.mt-4.ml-4.text-danger.text-center if alot =>

    + section-lot(" ")(class="box23")
    + section-lot("null, null, column")(class="box24")
    + section-lot("null, null, null, wrap")(class="box25")
    + section-lot("null, null, null, reverse")(class="box26")
    + section-lot("null, null, column, wrap")(class="box27")
    + section-lot("null, null, reverse, reverse")(class="box28")


    //-

  //- - var name = 'フォス'
  //- case name
  //-   when '金剛'
  //-     - break
  //-   when 'ボルツ'
  //-     p 硬度十です。
  //-   default
  //-     p わかりません。

  // partial
  script(src='https://bootswatch.com/_vendor/jquery/dist/jquery.min.js')
  script(src='https://bootswatch.com/_vendor/bootstrap/dist/js/bootstrap.bundle.min.js')
  script(src='dist/script.js')
  //- Clip
  script(src='https://unpkg.com/clipboard@2/dist/clipboard.min.js')
  script


    | const clipboard = new ClipboardJS('.copy-value');
    | const btns = document.querySelectorAll('.copy-value');

    | for(let i=0;i<btns.length;i++){

    |   btns[i].addEventListener('mouseleave',clearTooltip);

    |   btns[i].onclick = () => {

    |     navigator.clipboard.writeText( (btns[i].innerText).replace(/\r?\n/g, '') + ";" ).then(e => {
    |       console.log( (btns[i].innerText).replace(/\r?\n/g, '') )
    |     })

    |   }
    | }

    | function clearTooltip(e){
    |     e.currentTarget.setAttribute('class','copy-value');
    | }

    | function showTooltip(elem){
    |     elem.setAttribute('class','copy-value tooltips');
    | }

    | clipboard.on('success', function(e) {
    |    showTooltip(e.trigger);
    | });
