include mixin/_section.pug
//- include mixin/_card.pug
//- include mixin/_buttons.pug

doctype html
head
  meta(charset='UTF-8')
  meta(name='viewport' content='width=device-width, initial-scale=1.0')
  meta(http-equiv='X-UA-Compatible' content='ie=edge')
  title FlexBox Mixin
  link(rel='stylesheet' href='https://bootswatch.com/5/minty/bootstrap.min.css')
  link(rel='stylesheet' href='dist/style.css')

.container
  h1 FlexBox Mixins
  h2 @include flex( justfy-content, align-item, column, wrap );
  p You don't have to fill everything, you can exclude elements by inserting null

  .contents
    + section("null")(class="box1")
    + section("center, null")(class="box2")
    + section("end, null")(class="box3")
    + section("null, start")(class="box4")
    + section("null, center")(class="box5")
    + section("null, end")(class="box6")
    + section("center, start")(class="box13")
    + section("center, center")(class="box7")
    + section("center, end")(class="box8")
    + section("end, top")(class="box14")
    + section("center, end")(class="box15")
    + section("center, end")(class="box16")
    //- + section("center, end")(class="box8")
    + section("end, end")(class="box9")
    + section("center, start, column")(class="box10")
    + section("center, start, column")(class="box11")
    + section("center, center, column")(class="box12")

  //- - var name = 'フォス'
  //- case name
  //-   when '金剛'
  //-     - break
  //-   when 'ボルツ'
  //-     p 硬度十です。
  //-   default
  //-     p わかりません。

  // partial
  script(src='https://bootswatch.com/_vendor/jquery/dist/jquery.min.js')
  script(src='https://bootswatch.com/_vendor/bootstrap/dist/js/bootstrap.bundle.min.js')
  script(src='dist/script.js')
