mixin buttons-lot
  //- @see: Bootstrap Custom Design https://bootswatch.com/minty/
  button.mod.btn.btn-primary(type='button') 1
  button.mod.btn.btn-secondary(type='button') 2
  button.mod.btn.btn-info(type='button') 3
  button.mod.btn.btn-success(type='button') 4
  button.mod.btn.btn-warning(type='button') 5
  button.mod.btn.btn-danger(type='button') 6
  button.mod.btn.btn-light(type='button') 7

  //- button.btn.btn-dark(type='button') Dark
  //- button.btn.btn-link(type='button') Link