mixin buttons
  //- @see: Bootstrap Custom Design https://bootswatch.com/minty/
  button.mod.btn.btn-primary(type='button') Primary
  button.mod.btn.btn-secondary(type='button') Second
  button.mod.btn.btn-info(type='button') Inform
  //- button.btn.btn-success(type='button') Success
  //- button.btn.btn-warning(type='button') Warning
  //- button.btn.btn-danger(type='button') Danger
  //- button.btn.btn-light(type='button') Light
  //- button.btn.btn-dark(type='button') Dark
  //- button.btn.btn-link(type='button') Link