mixin card
  .card.text-white.bg-primary.mb-3(style='max-width: 20rem;')
    .card-header Header
    .card-body
      h4.card-title Primary card title
      p.card-text
        | Some quick example text to build on the card title and make up the bulk of the card&apos;s content.