include _buttons-lot.pug
//- include _title.pug

mixin section-lot(_title, _className)
  section.section
    //- Clip
    div.copy-value(data-clipboard-text=_title) @include
      span &#40;
      span= _title
      span &#41;
    code.code
    code.code
    code.code.option
    div.bx(class!=attributes.class)= _className
      + buttons-lot
